<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增案卷')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-cases-add">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label is-required">案件编号：</label>
                        <div class="col-sm-8">
                            <input name="fCasecode" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label is-required">案件名称：</label>
                        <div class="col-sm-8">
                            <input name="fCasename" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label is-required">简要案情：</label>
                        <div class="col-sm-8">
                            <input name="fCasebriefdetail" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label is-required">立案日期：</label>
                        <div class="col-sm-8">
                            <div class="input-group date">
                                <input name="fPutdate" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--            <div class="row">-->
<!--                <div class="col-sm-6">-->

<!--                    <div class="form-group">-->
<!--                        <label class="col-sm-3 control-label is-required">案件类别：</label>-->
<!--                        <div class="col-sm-8">-->
<!--                            <select name="fCasetype" class="form-control m-b" th:with="type=${@dict.getType('casetype')}" required>-->
<!--                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-sm-6">-->
<!--                    <div class="form-group">-->
<!--                        <label class="col-sm-3 control-label is-required">案由：</label>-->
<!--                        <div class="col-sm-8">-->
<!--                            <select name="fCasebrief" class="form-control m-b" th:with="type=${@dict.getType('casecause')}" required>-->
<!--                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="row">

            <div class="row" id="element">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label is-required">卷宗柜：</label>
                        <div class="col-sm-8">
                            <select class="locker form-control m-b" name="fLockerid"  data-first-title="请选择" required>
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label is-required">货位：</label>
                        <div class="col-sm-8">
                            <select class="position form-control m-b" name="fPositionid"  data-first-title="请选择" required>
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label is-required">民警类型：</label>
                        <div class="col-sm-8">
                            <a class="btn btn-default" onclick="policeTypeChange(1)">拉取主办民警</a> <a class="btn btn-default" onclick="policeTypeChange(2)">拉取辅办民警</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">办案单位编号：</label>
                        <div class="col-sm-8">
                            <input name="fDepartmentid" class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label is-required">主办民警编号：</label>
                        <div class="col-sm-8">
                            <input name="fPolice1id" class="form-control" type="text" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label is-required">主办民警名称：</label>
                        <div class="col-sm-8">
                            <input name="fPolice1name" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" id="mainBlock">
                    <div class="form-group" id="mainPolice">
                        <label class="col-sm-3 control-label">主办民警图片：</label>
                        <div class="col-sm-8">
                           <img id="mainPolicePic" th:src="@{/img/cardimg.png}" style="width: 150px;" onclick="setPic('main')">
                        </div>
                    </div>

                </div>

            </div>
            <div class="row" id="auxiliaryPolice">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label is-required">辅办民警编号：</label>
                        <div class="col-sm-8">
                            <input name="fPolice2id" class="form-control" type="text" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label is-required">辅办民警名称：</label>
                        <div class="col-sm-8">
                            <input name="fPolice2name" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" >
                        <label class="col-sm-3 control-label">辅办民警图片：</label>
                        <div class="col-sm-8">
                            <img id="auxiliaryPolicePic" th:src="@{/img/cardimg.png}" style="width: 150px;" onclick="setPic('auxiliary')">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="element">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">发卡分类：</label>
                        <div class="col-sm-8">
                            <label><input name="peopleType"  type="radio" value="0" checked />主办民警 </label>
                            <label style="margin-left: 20px;"><input name="peopleType" type="radio" value="1" />副办民警 </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">发卡：</label>
                        <div class="col-sm-8">
                            <input name="cardCode" class="form-control" type="text" readonly onclick="openSwipingForm()">
                            <input name="cardId" hidden="hidden">
                        </div>
                    </div>
                </div>
            </div>
<!--            <div class="row" id="element">-->
<!--                <div class="col-sm-6">-->
<!--                    <div class="form-group">-->
<!--                        <label class="col-sm-3 control-label">案发地址：</label>-->
<!--                        <div class="col-sm-8">-->
<!--                            <input name="fCrimeaddress" style="width:770px;" class="form-control" type="text">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
            <div class="row" id="element">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">开门方式：</label>
                        <div class="col-sm-8">
                            <select name="openDoorType" class="form-control m-b">
                                <option value="0">立即打开</option>
                                <option value="1">刷卡打开</option>
                                <option value="2">刷脸打开</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: jquery-cxselect-js" />
    <script th:inline="javascript">
        var isFace='[[${isFace}]]';
        //主办民警图片
        var mainPolicePic="";
        //辅办民警图片
        var auxiliaryPolicePic="";
        var data = [[${data}]];
        $(function(){
            debugger
            if(isFace.indexOf("0")!=-1) {
                $("#mainPolice").hide();
                $("#auxiliaryPolice").hide();
                $("[name=openDoorType] option:last").remove();
                var html = "";
                html += '<div class="form-group">';
                html += '<label class="col-sm-3 control-label is-required">辅办民警编号：</label>';
                html += '<div class="col-sm-8">';
                html += '<input name="fPolice2id" class="form-control" type="text" required>';
                html += '</div>';
                html += '</div>';
                html += '<div class="form-group">';
                html += '<label class="col-sm-3 control-label is-required">辅办民警名称：</label>';
                html += '<div class="col-sm-8">';
                html += '<input name="fPolice2name" class="form-control" type="text" required>';
                html += '</div>';
                html += '</div>';
                $("#mainBlock").append(html);
            }
        });
        $('#element').cxSelect({
            selects: ['locker', 'position'],
            jsonValue: 'v',
            url:'/basicInfo/locker/lockerSelect',
            data: data
        });
        var prefix = ctx + "business/cases"
        $("#form-cases-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            debugger
            var openDoorType= $("[name=openDoorType]").val();
            if(openDoorType=="1"&&($("[name=cardId]").val()==""||$("[name=cardId]").val()==undefined))
            {
                $.modal.msg("刷卡打开必须需要进行发卡",modal_status.FAIL);
                return;
            }else if(openDoorType=="2"&&($("[name=peopleType]:checked ").val()=="0"&&mainPolicePic=="")){
                $.modal.msg("主办民警需要提供人脸照片，否则无法通过刷人脸的方式打开",modal_status.FAIL);
                return;
            }else if(openDoorType=="2"&&($("[name=peopleType]:checked ").val()=="1"&&auxiliaryPolicePic=="")){
                $.modal.msg("辅办民警需要提供人脸照片，否则无法通过刷人脸的方式打开",modal_status.FAIL)
                return;
            }
            var data=$('#form-cases-add').serialize();
            data+="&peopleType="+$("[name=peopleType]:checked ").val();
            data+="&mainPolicePic="+ window.btoa(encodeURIComponent(mainPolicePic));
            data+="&auxiliaryPolicePic="+window.btoa(encodeURIComponent(auxiliaryPolicePic));
            data+="&openDoorType="+openDoorType;
            console.log(data);
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", data);
            }
        }

        $("input[name='fPutdate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='fCreatedate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
        function openSwipingForm(){

            var peopleType=$("[name=peopleType]:checked ").val();
            var mainpoliceId=$("[name=fPolice1id]").val();
            var asspoliceId=$("[name=fPolice2id]").val();
            var userId="";
            if(peopleType=="0"&&(mainpoliceId==""||mainpoliceId==undefined||mainpoliceId==null))
            {
                $.modal.msg("当前主办民警不存在，无法进行发卡",modal_status.FAIL);
                return false;
            }else if(peopleType=="0"&&(mainpoliceId!=""||mainpoliceId!=undefined||mainpoliceId!=null)){
                userId=mainpoliceId;
            }
            if(peopleType=="1"&&(asspoliceId==""||asspoliceId==undefined||asspoliceId==null))
            {
                $.modal.msg("当前辅办民警不存在，无法进行发卡",modal_status.FAIL);
                return false;
            }else if(peopleType=="1"&&(asspoliceId!=""||asspoliceId!=undefined||asspoliceId!=null)){
                userId=asspoliceId;
            }
            if(userId==""||userId==null||userId==undefined)
            {
                $.modal.alertError("请输入警号");
                return false;
            }
                layer.open({
                    type: 2,
                    area: ['500px', '500px'],
                    fix: false,
                    //不固定
                    maxmin: true,
                    shade: 0.3,
                    title: '刷卡',
                    content: "/basicInfo/card/swipingform",
                    btn: ['确定', '关闭'],
                    // 弹层外区域关闭
                    shadeClose: true,
                    yes: function(index,layero){
                       debugger
                        var iframeWin = layero.find('iframe')[0];
                        var str= iframeWin.contentWindow.submitHandler(index, layero);
                        var cardCode=str.split(';')[0];
                        var cardId=str.split(';')[1];
                        $("[name=cardCode]").val(cardCode);
                        $("[name=cardId]").val(cardId);
                        layer.close(index);
                    },
                    cancel: function(index) {
                        return true;
                    }
                });
        }
        function policeTypeChange(peopletype)
        {
                layer.open({
                    type: 2,
                    area: ['1000px', '500px'],
                    fix: false,
                    //不固定
                    maxmin: true,
                    shade: 0.3,
                    title: '已录入人员',
                    content: "/business/cases/localform",
                    btn: ['确定', '关闭'],
                    // 弹层外区域关闭
                    shadeClose: true,
                    yes: function(index,layero){
                          debugger
                        var iframeWin = layero.find('iframe')[0];
                        var data= iframeWin.contentWindow.submitHandler(index, layero);
                        debugger
                        if(peopletype=="1") {
                            $("[name=fPolice1id]").val(data[0].loginName);
                            $("[name=fPolice1name]").val(data[0].userName);
                            if(data[0].pic!=""&&data[0].pic!=null&&data[0].pic!=undefined) {
                                $("#mainPolicePic").attr("src", data[0].pic);
                                mainPolicePic= data[0].pic;
                            }
                        }else{
                            $("[name=fPolice2id]").val(data[0].loginName);
                            $("[name=fPolice2name]").val(data[0].userName);
                            if(data[0].pic!=""&&data[0].pic!=null&&data[0].pic!=undefined) {
                                $("#auxiliaryPolicePic").attr("src", data[0].pic);
                                 auxiliaryPolicePic=data[0].pic;
                            }
                        }
                        layer.close(index);
                    },
                    cancel: function(index) {
                        return true;
                    }
                });
        }

        function setPic(type){
            var fLockerid=$("[name=fLockerid]").val();
            if(fLockerid!=""&&fLockerid!=undefined&&fLockerid!=null) {
                layer.open({
                    type: 2,
                    area: ['700px', '600px'],
                    fix: false,
                    //不固定
                    maxmin: true,
                    shade: 0.3,
                    title: '拍照/上传',
                    content: "/basicInfo/camera/picture?fLockerid=" + fLockerid,
                    btn: ['确定', '关闭'],
                    // 弹层外区域关闭
                    shadeClose: true,
                    yes: function (index, layero) {
                        debugger
                        var iframeWin = layero.find('iframe')[0];
                        debugger
                        var str = iframeWin.contentWindow.submitHandler(index, layero);
                        if (str != "" && str != undefined && str != null) {
                            if (type == "main") {
                                $("#mainPolicePic").attr("src", str);
                                mainPolicePic = str;
                            } else if (type == "auxiliary") {
                                $("#auxiliaryPolicePic").attr("src", str);
                                auxiliaryPolicePic = str;
                            }
                            layer.close(index);
                        }
                    },
                    cancel: function (index) {
                        return true;
                    }
                });
            }else{
                $.modal.msg("请选择存放位置",modal_status.FAIL);
                return;
            }
        }
        $("[name=peopleType]").change(function()
        {
            debugger
            $("[name=cardCode]").val("");
            $("[name=cardId]").val("");
        })
    </script>
</body>
</html>