<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('二维码')" />
    <th:block th:include="include :: hiprint-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-user-add">
        <div class="form-group">
            <label class="col-sm-1 control-label"></label>
            <div class="col-sm-11">
                <button type="button" class="btn btn-sm btn-primary" onclick="doPrint(true)"><i class="fa fa-print"></i>  打印</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label"></label>
            <div class="col-sm-11">
                <div id="templateDesignDiv" ></div>
            </div>
        </div>
    </form>
</div>

<th:block th:include="include :: footer" />
<th:block th:include="include :: hiprint-js" />

<script type="text/javascript">
    //物品编号
    debugger
    var articlecode='[[${code}]]';
    //二维码参数
    var qrcodeData='[[${@config.getKey('fabinet.qrcode')}]]'.split(',');

    <!-- 初始化-->
    hiprint.init();
    doPrint(false);

    function doPrint(isPrint) {

        <!-- 创建打印模板对象-->
        var hiprintTemplate = new hiprint.PrintTemplate();
        <!-- 模板对象添加打印面板 paperHeader：页眉线 paperFooter：页尾线-->
        var width = Number(qrcodeData[0]);
        var height =Number(qrcodeData[1]);
        var panel = hiprintTemplate.addPrintPanel({ width: width, height: height ,paperNumberDisabled:true});
        <!-- 二维码 打印面板添加二维码元素-->
        var val = articlecode;
        var qrWH = Number(qrcodeData[2]);
        var qrHE = Number(qrcodeData[3]);
        var topMargin =Number(qrcodeData[4]);
        var leftMargin = Number(qrcodeData[5]);
        panel.addPrintText({ options: { width: qrWH, height: qrHE, top: topMargin, left: leftMargin, title: val, textType: 'barcode' } });

        if(isPrint){
            <!-- 直接打印 -->
            hiprintTemplate.print();
        }else{
            <!-- 打印设计 -->
            $('#templateDesignDiv').empty();
            hiprintTemplate.design('#templateDesignDiv');
        }
    }

</script>
</body>
</html>
