# Project exclude paths
/jeethink-admin/target/
/jeethink-common/target/
/jeethink-framework/target/
/jeethink-generator/target/
/jeethink-quartz/target/
/jeethink-system/target/
/jeethink-basicInfo/target/
/jeethink-business/target/
/jeethink-requestutil/target/