<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('摄像头列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>摄像头用户名：</label>
                                <input type="text" name="fName"/>
                            </li>
                            <li>
                                <label>摄像头Ip：</label>
                                <input type="text" name="fIp"/>
                            </li>
                            <li>
                                <label>用户名：</label>
                                <input type="text" name="fUsername"/>
                            </li>
                            <li>
                                <label>密码：</label>
                                <input type="text" name="fPassword"/>
                            </li>
                            <li>
                                <label>科达平台puid：</label>
                                <input type="text" name="fPuid"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="basicInfo:camera:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="basicInfo:camera:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="basicInfo:camera:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="basicInfo:camera:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('basicInfo:camera:edit')}]];
        var removeFlag = [[${@permission.hasPermi('basicInfo:camera:remove')}]];
        var prefix = ctx + "basicInfo/camera";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "摄像头",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'fCameraid',
                    title: '摄像头Id',
                    visible: false
                },
                {
                    field: 'fName',
                    title: '摄像头用户名'
                },
                {
                    field: 'fIp',
                    title: '摄像头Ip'
                },
                {
                    field: 'fUsername',
                    title: '用户名'
                },
                {
                    field: 'fPassword',
                    title: '密码'
                },
                {
                    field: 'fPuid',
                    title: '科达平台puid'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.fCameraid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.fCameraid + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>