<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('查看录像')" />
    <th:block th:include="include :: kdvideo-js" />

</head>
<body class="white-bg">
<input th:value="${BusinessId}" id="BusinessId" hidden="hidden">
<object id="plugin0" type="application/x-sfplayplugin" width="620" height="550" style="padding-left: 15px;"></object>
<script>
    var cameraIp="";
    var cameraPort="";
    var userName="";
    var passWord="";
    var puid="";
    var beginDate="";
    var endDate="";
     //初始化
     $(function(){
         var pluginPlatform = document.getElementById('plugin0');
         if (!pluginPlatform.valid) {
             alert('当前控件不可使用');
         }
         $.ajax({
             cache : true,
             type : "POST",
             url : "/business/deposit/getFcameraById",
             data : {
                 "depositId": $("#BusinessId").val(),
             },
             async : false,
             error : function(request) {
                 $.modal.alertError("系统错误");
             },
             success : function(data) {
                var entity=JSON.parse(data.msg);
                 cameraIp=entity.fIp;
                 cameraPort=entity.fPort;
                 userName=entity.fUsername;
                 passWord=entity.fPassword;
                 puid=entity.fPuid;
                 beginDate=entity.beginDate;
                 endDate=entity.endDate;
             }
         });
         addEvent(pluginPlatform, "Notify", function (e) {
             let notify = JSON.parse(e);
             switch (notify.notify) {
                 case "ready":
                     //返回ready后执行登陆
                     debugger
                     var cmd = {
                         cmd: "setplatforminfo",
                         data: {
                             ip: cameraIp,
                             port: cameraPort,
                             user: userName,
                             pwd: passWord,
                             type: "2",
                             decmode: 1,
                         },
                     };
                     console.log("执行登陆");
                     let ret = pluginPlatform.PostCmd(JSON.stringify(cmd));
                     console.log(ret);
                     ret = JSON.parse(ret);
                     videoChange();
                     break;
                 case "recordlist":
                     console.log("recordlist-notify", notify);
                     onRecordList(notify);
                     break;
             }
         });
     })

    function videoChange() {
        var begindate=new Date(beginDate.replace(/-/g,"/"));
        var enddate=new Date(endDate.replace(/-/g,"/"));
        var start=parseInt(begindate/1000);
        var end=parseInt(enddate/1000);
        var cmd = {
            cmd: "getrecord",
            data: {
                type: 2,
                domain: "b0b4e354f8ca4a26b2d4e8914a60328b",
                starttime: start,
                endtime: end,
                chnid: 0,
                puid:puid ,
            },
        };
        let pluginPlay = document.getElementById("plugin0");
        let ret = pluginPlay.PostCmd(JSON.stringify(cmd));
        console.log("vidoChange-res", ret);
    }

    function onRecordList(notify) {
         debugger
        if (notify.code != 0) {
            alert("录像查询失败: " + notify.desc);
        } else {
            if (!notify.data) return;
            playVideo(notify.data.records[0]);
        }
    }
    function playVideo(){
        var begindate=new Date(beginDate.replace(/-/g,"/"));
        var enddate=new Date(endDate.replace(/-/g,"/"));
         var start=parseInt(begindate/1000);
         var end=parseInt(enddate/1000);
        var cmd = {
            cmd: "switchstartplayrecord",
            data: {
                vendor: "kedacom",
                starttime: start,
                endtime: end,
                playtime: start,
                hd: 1,
            },
        };
        let pluginPlay = document.getElementById("plugin0");
        let ret = pluginPlay.PostCmd(JSON.stringify(cmd));
    }
</script>
</body>
</html>