<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增卷宗柜')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    sdfaa
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var prefix = ctx + "basicInfo/locker"
    $("#form-locker-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-locker-add').serialize());
        }
    }
</script>
</body>
</html>