<!DOCTYPE html>
<html lang="zh">
<head>
    <th:block th:include="include :: header('基本表单')" />
    <th:block th:include="include :: jquery-steps-css" />
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-content" style="height: 800px;">
                    <div id="wizard" class="wizard-custombig">
                        <h1>选择案卷</h1>
                        <fieldset class="step-content" style="overflow-x:scroll;padding-top: 0.5%;background-color: white; width: 100%">
                            <div class="col-sm-12 search-collapse">
                                <form id="formId">
                                    <div class="select-list">
                                        <ul>
                                            <li id="police">
                                                <label>警员名称：</label>
                                                <input type="text" name="mc" />
                                                <input id="peopleType" th:value="${peopleType}" style="display: none" >
                                            </li>
                                            <li>
                                                <label>案卷名称：</label>
                                                <input type="text" name="ajmc"/>
                                            </li>
                                            <li>
                                                <label>案卷编号：</label>
                                                <input type="text" name="ajbh"/>
                                            </li>
                                            <li>
                                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                            <table id="bootstrap-table" ></table>
                        </fieldset>

                        <h1>选择存放位置</h1>
                        <fieldset class="step-content" style="background-color: white;">
                            <div class="row">
                                <div class="row" id="element">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label is-required">卷宗柜：</label>
                                            <div class="col-sm-8">
                                                <select class="locker form-control m-b" name="fLockerid"   required>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label is-required">货位：</label>
                                            <div class="col-sm-8">
                                                <select class="position form-control m-b" name="fPositionid"   required>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="element">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">登记民警：</label>
                                            <div class="col-sm-8">
                                                <select name="peopleType" class="form-control m-b" onchange="getPolice()">
                                                    <option value="99">请选择</option>
                                                    <option value="0">主办民警</option>
                                                    <option value="1">副办民警</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">发卡：</label>
                                            <div class="col-sm-8">
                                                <input name="cardCode" class="form-control" type="text" readonly onclick="openSwipingForm()">
                                                <input style="visibility: hidden;" name="cardId">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="element">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">警号：</label>
                                            <div class="col-sm-8">
                                                <input name="policeAccount" class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group" style="margin-top: 55px;" id="policeName">
                                            <label class="col-sm-3 control-label">民警名称：</label>
                                            <div class="col-sm-8">
                                                <input name="policeName" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" id="mainBlock">
                                        <div class="form-group" id="policeBlock">
                                            <label class="col-sm-3 control-label">民警图片：</label>
                                            <div class="col-sm-8">
                                                <img id="PolicePic" th:src="@{/img/cardimg.png}" style="width: 150px;" onclick="setPic()">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="element" style="margin-top: 15px">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">开门方式：</label>
                                            <div class="col-sm-8">
                                                <select name="openDoorType" class="form-control m-b">
                                                    <option value="0">立即打开</option>
                                                    <option value="1">刷卡打开</option>
                                                    <option value="2">刷脸打开</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">备注：</label>
                                            <div class="col-sm-8">
                                                <input name="fRemark" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                </div>
            </div>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: jquery-steps-js" />
<th:block th:include="include :: jquery-cxselect-js" />
<style>
    .table{
        table-layout: fixed;
    }
    .pull-right{
        margin-right: 2%;
    }
</style>
<script>
    debugger
    var prefix = ctx + "business/deposit";
    var isFace='[[${isFace}]]';
    var PolicePic="";
    $(document).ready(function () {
        debugger
        var a=$("#peopleType").val();
        if($("#peopleType").val()!="0"){
            $("#police").hide();
        }
        if(isFace=="0")
        {
            $("#policeBlock").hide();
            $("[name=openDoorType] option:last").remove();
            $("#policeName").remove();
            var html="";
            html+='<div class="form-group" >';
            html+='<label class="col-sm-3 control-label">民警名称：</label>';
            html+='<div class="col-sm-8">';
            html+='<input name="policeName" class="form-control" type="text">';
            html+='</div>';
            html+='</div>';
            $("#mainBlock").append(html);
        }

         $("#wizard").steps({
             bodyTag:"fieldset", onStepChanging: function (event, currentIndex, newIndex){
                 debugger
                var data=$("#" + table.options.id).bootstrapTable('getSelections');
                 if(data.length>0) {
                     getlocker();
                     return true;
                 }else{
                     $.modal.msg("请选择案卷信息",modal_status.FAIL);
                     return false;
                 }
             },onFinished:function (event, currentIndex) {
                 debugger
                 var fLockerid= $("[name=fLockerid]").val();
                 var fPositionid=$("[name=fPositionid]").val();
                 var cardCode=$("[name=cardCode]").val();
                 var cardId=$("[name=cardId]").val();
                 var fRemark=$("[name=fRemark]").val();
                 var policeAccount=$("[name=policeAccount]").val();
                 var policeName=$("[name=policeName]").val();
                 var openDoorType= $("[name=openDoorType]").val();
                 if(cardId!="")
                 {
                     if(policeAccount=="")
                     {
                         $.modal.msg("请填写民警信息才能发卡",modal_status.FAIL);
                     }
                 }
                 if(fLockerid==""||fLockerid==null||fLockerid==undefined)
                 {
                     $.modal.msg("请选择案卷柜",modal_status.FAIL);
                     return false;
                 }
                 if(fPositionid==""||fPositionid==null||fPositionid==undefined)
                 {
                     $.modal.msg("请选择货位",modal_status.FAIL);
                     return false;
                 }
                 if($("[name=peopleType]").val()!="99"&&(policeAccount==""||policeName==""))
                 {
                     $.modal.msg("请输入民警信息",modal_status.FAIL);
                     return false;
                 }

                if(openDoorType=="1"&&cardId=="")
                {
                    $.modal.msg("刷卡开门需要分配卡片",modal_status.FAIL);
                    return false;
                }else if(openDoorType=="2"&&PolicePic=="")
                {
                    $.modal.msg("刷脸开门需要设置人脸信息",modal_status.FAIL);
                    return false;
                }
                 var data=$("#" + table.options.id).bootstrapTable('getSelections');
                 debugger
                 var Data={
                     list:JSON.stringify(data),
                     lockerId:fLockerid,
                     positionId:fPositionid,
                     cardCode:cardCode,
                     cardId:cardId,
                     remark:fRemark,
                     businessType:"2",
                     peopleType: $("[name=peopleType]").val(),
                     policeAccount,
                     policeName,
                     openDoorType,
                     PolicePic:window.btoa(encodeURIComponent(PolicePic))
                 };
                 $.operate.save(prefix + "/addCaseIn", Data);
             }
         });
        $("[name=peopleType]").change(function()
        {
            $("[name=cardCode]").val("");
            $("[name=cardId]").val("");
        })
        loadTable();
    });
    //拍照/上传照片
    function setPic(){
        if($("[name=peopleType]").val()=="99"){
            $.modal.msg("请选择登记的民警",modal_status.FAIL);
            return false;
        }
        debugger
        var fLockerid=$("[name=fLockerid]").val();
        if(fLockerid!=""&&fLockerid!=null&&fLockerid!=undefined) {
            layer.open({
                type: 2,
                area: ['700px', '600px'],
                fix: false,
                //不固定
                maxmin: true,
                shade: 0.3,
                title: '拍照/上传',
                content: "/basicInfo/camera/picture?fLockerid="+fLockerid,
                btn: ['确定', '关闭'],
                // 弹层外区域关闭
                shadeClose: true,
                yes: function (index, layero) {
                    debugger
                    var iframeWin = layero.find('iframe')[0];
                    var str = iframeWin.contentWindow.submitHandler(index, layero);
                    if (str != "" && str != undefined && str != null) {
                        $("#PolicePic").attr("src", str);
                        PolicePic = str;
                        layer.close(index);
                    }
                },
                cancel: function (index) {
                    return true;
                }
            });
        }else{
            $.modal.msg("请分配存放位置",modal_status.FAIL);
            return ;
        }
    }
    function openSwipingForm(){
        var peopleType=$("[name=peopleType]").val();
        var data=$("#" + table.options.id).bootstrapTable('getSelections');
        var userId="";
        if(peopleType=="99"){
            $.modal.msg("请选择发卡类型",modal_status.FAIL);
            return false;
        }
        var policeAccount=$("[name=policeAccount]").val();
        var policeName=$("[name=policeName]").val();
        if(policeAccount==""||policeName=="")
        {
            $.modal.msg("请输入民警信息才能发卡",modal_status.FAIL);
            return false;
        }
        // if(peopleType=="0"&&(data[0].mainPoliceCode==""||data[0].mainPoliceCode==undefined||data[0].mainPoliceCode==null))
        // {
        //     $.modal.msg("当前主办民警不存在，无法进行发卡",modal_status.FAIL);
        //     return false;
        // }else if(peopleType=="0"&&(data[0].mainPoliceCode!=""||data[0].mainPoliceCode!=undefined||data[0].mainPoliceCode!=null)){
        //     userId=data[0].mainPoliceCode;
        // }
        // if(peopleType=="1"&&(data[0].assistPoliceCode==""||data[0].assistPoliceCode==undefined||data[0].assistPoliceCode==null))
        // {
        //     $.modal.msg("当前辅办民警不存在，无法进行发卡",modal_status.FAIL);
        //     return false;
        // }else if(peopleType=="1"&&(data[0].assistPoliceCode!=""||data[0].assistPoliceCode!=undefined||data[0].assistPoliceCode!=null)){
        //     userId=data[0].assistPoliceCode;
        // }
        // if(peopleType=="1"){
        //     var asscode="";
        //     debugger
        //     for(var i=0;i<data.length;i++)
        //     {
        //         if(asscode==""||asscode==null||asscode==undefined)
        //         {
        //             asscode=data[i].assistPoliceCode;
        //         }
        //         if(asscode!=data[i].assistPoliceCode){
        //             $.modal.msg("一次只能存放同一民警及辅警的案卷",modal_status.FAIL);
        //             return false;
        //         }
        //     }
        // }
        // $.ajax({
        //     cache : true,
        //     type : "POST",
        //     url : ctx + "basicInfo/card/selectCardByUserId",
        //     data : {
        //         "fUserid":userId,
        //     },
        //     async : false,
        //     error : function(request) {
        //         $.modal.alertError("系统错误");
        //     },
        //     success : function(data) {
        //         debugger
        //         if( data.rows.length>0) {
        //             var card= data.rows;
        //             $("[name=cardCode]").val(card[0].fCardcode);
        //             $("[name=cardId]").val(card[0].fCardid);
        //         }else{
                    layer.open({
                        type: 2,
                        area: ['500px', '500px'],
                        fix: false,
                        //不固定
                        maxmin: true,
                        shade: 0.3,
                        title: '刷卡',
                        content: "/basicInfo/card/swipingform",
                        btn: ['确定', '关闭'],
                        // 弹层外区域关闭
                        shadeClose: true,
                        yes: function(index,layero){
                            //  debugger
                            var iframeWin = layero.find('iframe')[0];
                            var str= iframeWin.contentWindow.submitHandler(index, layero);
                            var cardCode=str.split(';')[0];
                            var cardId=str.split(';')[1];
                            $("[name=cardCode]").val(cardCode);
                            $("[name=cardId]").val(cardId);
                            layer.close(index);
                        },
                        cancel: function(index) {
                            return true;
                        }
                    });
        //         }
        //     }
        // });

    }
    function loadTable()
    {
        var options = {
            url: prefix + "/selectTdwyCaseList",
            modalName: "存放案卷",
            pagination:false,
            // pagination:true,
            // pageSize:10,
            columns: [{
                checkbox: true
            },

                {
                    field: 'ajbh',
                    title: '案卷编号',
                    width:300
                },
                {
                    field: 'ajmc',
                    title: '案卷名称'
                },
                {
                    field: 'cbrjh',
                    title: '承办人警号'
                },
                {
                    field: 'cbrmx',
                    title: '承办人'
                },
                {
                    field: 'xbrjh',
                    title: '协办人警号'
                },
                {
                    field: 'xbrxm',
                    title: '协办人'
                },
                {
                    field: 'qc',
                    title: '办案单位'
                }
            ]
        };
        $.table.init(options);
    }

    function getPolice() {
        debugger
        var peopleType=$("[name=peopleType]").val();
        var data=$("#" + table.options.id).bootstrapTable('getSelections');
        var policeAccount=(peopleType=="0"? data[0].cbrjh:data[0].xbrjh);
        var policeName=(peopleType=="0"? data[0].cbrmx:data[0].xbrxm);
        $("[name=policeAccount]").val(policeAccount);
        $("[name=policeName]").val(policeName);
        if(policeAccount!=""&&policeAccount!=null&&policeAccount!=undefined&&peopleType!="99")
        {
            $.ajax({
                cache : true,
                type : "POST",
                url : ctx + "system/user/selectUserByNoAndName",
                data : {
                    "loginName":policeAccount,
                },
                async : false,
                error : function(request) {
                    $.modal.alertError("系统错误");
                },
                success : function(data) {
                    debugger
                    if(data.rows.length>0)
                    {
                        $("#PolicePic").attr("src",data.rows[0].pic);
                        PolicePic=data.rows[0].pic;
                    }
                }});
        }
    }
</script>
<script th:inline="javascript">
    function getlocker() {
        var data = [[${data}]];
        $('#element').cxSelect({
            selects: ['locker', 'position'],
            jsonValue: 'v',
            url: '/basicInfo/locker/lockerSelect',
            data: data
        });
    }
</script>
</body>
</html>
