<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改案卷轨迹')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-track-edit" th:object="${fTrack}">
            <input name="fTrackid" th:field="*{fTrackid}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">案卷编号：</label>
                <div class="col-sm-8">
                    <input name="fCasecode" th:field="*{fCasecode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">业务类型：</label>
                <div class="col-sm-8">
                    <select name="fBusinesstype" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">业务主表id：</label>
                <div class="col-sm-8">
                    <input name="fBusinessid" th:field="*{fBusinessid}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">业务明细id：</label>
                <div class="col-sm-8">
                    <input name="fBusinessdetailid" th:field="*{fBusinessdetailid}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建用户id：</label>
                <div class="col-sm-8">
                    <input name="fCreateuserid" th:field="*{fCreateuserid}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建用户名称：</label>
                <div class="col-sm-8">
                    <input name="fCreateusername" th:field="*{fCreateusername}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="fCreatedate" th:value="${#dates.format(fTrack.fCreatedate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "business/track";
        $("#form-track-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-track-edit').serialize());
            }
        }

        $("input[name='fCreatedate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>